*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 320px){
    .manrope-uniquifier {
        font-family: "Manrope", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }
    header img{
        width: 7%;
        height: 7%;
        margin-left: 5%;
        margin-top: 4%;
    }
    header h2{
        margin-left: 15%;
        font-size: 2vw;
        color: white;
        margin-top: -5vw;
    }

    .fundo{
        width: 100%;
        height: 100%;
    }

    main{
        background-color: rgba(0, 0, 0, 0.5);
        width: 80%;
        margin: auto;
        margin-top: 10%;
        height: 25vw;
        border-radius: 3vw;
    }


    h1{
        color: white;
        font-size: 5vw;
        width: 100;
        text-align: center;
        padding-top: 5%;
        margin-bottom: 5%;
    }

    .a2{
        text-decoration: none;
        background-color: #F2E3D5;
        color: black;
        font-size: 3vw;
        padding-left: 7vw;
        padding-right: 7vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        border-radius: 3vw;
    }

    
    .a1{
        text-decoration: none;
        background-color: #F2E3D5;
        color: black;
        font-size: 3vw;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        border-radius: 3vw;
        margin-left: 6%;
        margin-right: 6%;
    }

   a:hover{
    transition: 1s;
    background-color: lightskyblue;
   }
}