*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media screen and (min-width: 320px){


 html{
    background-image: url(../IMAGENS/Peixes.PNG);
    background-size: cover;
    background-repeat: no-repeat;
} 


.manrope-uniquifier {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

  body img{
    width: 100%;
    height: 80vw;
    position: relative;
  }


  header img{
    width: 7%;
    height: 7%;
    margin-left: 5%;
    margin-top: 4%;

  }

  header h2{
    margin-left: 15%;
    font-size: 2vw;
    color: white;
    margin-top: -5vw;
  }


  main{
    background-color: rgba(0, 0, 0, 0.3);
    width: 90%;
    margin-left: 5%;
    margin-top: 10%;
    height: 50vw;
    border-radius: 3vw;
    margin-bottom: 5%;
  }


  main h1{
    color: white;
    font-size: 5vw;
    width: 100%;
    text-align: center;
    /* margin-top: 10%; */
    padding-top: 5%;
    margin-bottom: 7%;
  }

  .a1{
    text-decoration: none;
    background-color: #F2E3D5;
    font-size: 3vw;
    color: black;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 3vw;
    margin-left: 25vw;
  }

  main p{
    color: white;
    width: 100%;
    font-size: 2vw;
    text-align: center;
    margin-top: 4vw;
    margin-bottom: 4vw;
  }
  .a2{
    text-decoration: none;
    background-color: #F2E3D5;
    font-size: 3vw;
    color: black;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 3vw;
    margin-left: 25vw;
  }
  

  a:hover{
    transition: 1s;
    background-color: lightskyblue;
  }
}