*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (min-width: 320px) {
html{
    background-image: url(../IMAGENS/aguasvivassas.PNG);
    background-size: cover;
    background-repeat: no-repeat;
}
.manrope-uniquifier {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
  header img{
    width: 7%;
    height: 7%;
    margin-left: 5%;
    margin-top: 4%;
}
  header h2{
    margin-left: 15%;
    font-size: 2vw;
    color: white;
    margin-top: -5vw;
}
.linkheader3{
    text-decoration: none;
    margin-left: 75%;
    font-size: 2.3vw;
    position: relative;
    margin-top: -35vw;
    top: -2.7vw;
    color: black;
    background-color: #F2E3D5;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1.1vw;
    padding-bottom: 1.1vw;
    border-radius: 3vw;
    font-weight: 500;
}
.divisao{
    height: 0.3vw;
    background-color: white;
    width: 90%;
    margin-left: 5%;
    border-radius: 1vw;
    margin-top: 5%;
}
article img{
    width: 40%;
    height: 30%;
    margin-left: 5%;
    margin-top: 10%;
}
h3, h2, p{
    color: white;
}
h3{
    margin-left: 17%;
    font-size: 3vw;
    margin-top: -17%;
}
.porcentos{
    font-size: 5vw;
    margin-left: 20%;
    margin-top: 2%;
    font-style: italic;
}
section h2{
    font-size: 3.5vw;
    margin-left: 50%;
    margin-top: -17%;
}
.p1{
    font-size: 1.8vw;
    margin-top: 1.3%;
    width: 30%;
    margin-left: 50%;
}
.p2{
    font-size: 1.5vw;
    margin-left: 50%;
    width: 30%;
    margin-top: 1.3%;
    margin-bottom: 3%;
}
span{
    font-weight: bolder;
    font-size: 2.2vw;
}
main a{
    color: black;
    font-size: 2vw;
    text-decoration: none;
    background-color: #F2E3D5;
    padding-right: 10vw;
    padding-left: 10vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 3vw;
    margin-left: 50%;
}
footer img{
    width: 100%;
    margin-top: 10%;
}
a:hover{
    transition: 1s;
    background-color: lightskyblue;
}
}