*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width:320px) {
html{
    background-image: url(../IMAGENS/FundoLogin.PNG);
    background-size: cover;
    background-repeat: no-repeat;
}
.manrope-uniquifier {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
  header img{
    width: 7%;
    height: 7%;
    margin-left: 5%;
    margin-top: 4%;

}
  header h2{
    margin-left: 15%;
    font-size: 2vw;
    color: white;
    margin-top: -5vw;
}

main{
  background-color: rgba(0, 0, 0, 0.5);
  width: 90%;
  margin-left: 5%;
  margin-top: 7%;
  margin-bottom: 5%;
  border-radius: 3vw;
}

h1{
  color: white;
  width: 100%;
  text-align: center;
  font-size: 5vw;
  padding-top: 5%;
}


.email{
  border: none;
  width: 60%;
  margin-left: 20%;
  height: 4vw;
  margin-top: 5%;
  background-color: #F2E3D5;
  border-radius: 3vw;
  font-size: 4vw;
  padding-bottom: 2vw;
  text-align: center;
  text-align: center;
}

.email::placeholder{
  color: black;
  font-size: 3vw;
  /* padding-top: 2vw; */
  text-align: center;
  position: relative;
  top: 0.5vw;
}

input:hover{
  transition: 1s;
  background-color: lightskyblue;
}

.senha{
  border: none;
  width: 60%;
  margin-left: 20%;
  height: 4vw;
  margin-top: 4%;
  background-color: #F2E3D5;
  border-radius: 3vw;
  text-align: center;
  font-size: 4vw;
  padding-bottom: 1vw;
  text-align: center;
}

.senha::placeholder{
  color: black;
  font-size: 3vw;
  /* padding-top: 2vw; */
  text-align: center;
  position: relative;
  top: 0.5vw;
}





#olhoAberto{
  width: 3%;
  height: 3%;
  margin-left: -5%;
  margin-bottom: -1%;
}


.divisao{
  width: 60%;
  height: 0.3vw;
  background-color: white;
  margin-left: 20%;
  border-radius: 2vw;
  margin-top: 3%;
}

button{
  width: 60%;
  background-color: #F2E3D5;
  margin-left: 20%;
  height: 4vw;
  border-radius: 3vw;
  font-size: 3vw;
  margin-top: 5%;
  color: black;
  margin-bottom: 5%;
}

button:hover{
  transition: 1s;
  background-color: lightskyblue;
}
}